/* THIS IS THE FONT FOR HEADINGS AND NAV MENU(needs all file types for different browsers) */

@font-face {
  font-family: 'thunder';
  src: url('/fonts/Thunder-BlackLC.ttf') format('truetype'),
       url('/fonts/Thunder-BlackLC.woff') format('woff'),
       url('/fonts/Thunder-BlackLC.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'thunder';
  src: url('/fonts/Thunder-BoldLC.ttf') format('truetype'),
       url('/fonts/Thunder-BoldLC.woff') format('woff'),
       url('/fonts/Thunder-BoldLC.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'thunder';
  src: url('/fonts/Thunder-ExtraBoldLC.ttf') format('truetype'),
       url('/fonts/Thunder-ExtraBoldLC.woff') format('woff'),
       url('/fonts/Thunder-ExtraBoldLC.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body{
    background-color: white ;
    font-family: var(--kanit-font);
    color: var(--main-color);
}

/* variables */
:root {
  --thunder-font: 'thunder', sans-serif;
  --kanit-font: 'Kanit', sans-serif;
  --main-color: #2C302E;
  --green: #00A764;
}



/* HEADER STYLING STARTS HERE */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  border-radius: 10px;
  background-color: var(--main-color);
  margin: 6px 0;
  transition: 0.4s;
}

.burger {
  display: inline-block;
  cursor: pointer;
  font-family: var(--thunder-font);
  z-index: 9999;
  position: relative;;
}

/* Transform the burger menu into a "X" when toggled */
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.site-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1rem 2rem 1rem;
}

#logo-svg{
  height: 45px;
}
/* Nav list styling for overlay effect */
.nav-list {
  display: none;
  list-style-type: none;
  font-family: var(--thunder-font);
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; 
  z-index: 999; 
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
}

/* Nav list item styling */
.nav-list li {
  margin: 20px 50px;
}


.nav-list a {
  color: var(--main-color); 
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase; 
  text-decoration: none;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: var(--main-color); 
}

.show-nav {
  display: flex;
}
@media (min-width:600px) {
  .site-header{
    margin: 1rem 1.5rem 1rem 1.5rem;
  }
  #logo-svg{
    height: 60px;
  }

  .nav-list a{
    font-weight: 800;
  }
}
/* HEADER STYLING ENDS HERE */

/* FOOTER STYLING STARS HERE */
.mobile-socials{
  display: none;
}
@media (max-width:1000px) {

  .show-nav a{
    font-size: 70px;
  }

  .mobile-socials{
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}
.mobile-socials a img{
  width: 45px;
  padding: 5px;
}

}
footer{
  margin-top: 5rem;
}

.footer-text{
  text-align: center;
  margin: 0;
}
/* FOOTER STYLING ENDS HERE */


/* SOCIAL MEDIA SIDEBAR */
.sticky-socials{
  display: none;
}

@media (min-width: 1000px) {
  .sticky-socials{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 5rem;
  right: 2rem;
}
.sticky-socials a{
  padding-top: 15px;
}

.sticky-socials a img{
  width: 35px;
  color: #2C302E;
}


}
/* ---------------------- */


/* ================================================ */
/* HOME PAGE STYLING  */
/* ================================================ */



/* HERO SECTION STYLING STARTS HERE */
.hero-section{
  height: 100vh;
  margin-top: 7rem;
  h1{
    margin-top: 4rem;
    font-family: var(--kanit-font);
    font-size: 30px;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: #2C302E;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 4.6rem;
    .sami{
      font-family: var(--thunder-font);
      font-weight: 700;
      font-size: 110px;
      padding-left: 7rem;
      -webkit-text-fill-color: var(--main-color);
      -webkit-text-stroke-width: 0;

    }
  }

  .hero-p{
    width: 300px;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 19px;
    font-weight: 400;
    .designer{
      color: var(--green);
    }
}
}


@media (min-width: 600px ) {
  .hero-section{
    margin-top: 14rem;
    h1{
      font-size: 43px;
      flex-direction: row;
      justify-content: center;
      padding: 0 ;
      padding-right: 1.3rem;
      .sami{
        padding-left: 0.8rem;
        padding-bottom: 1.5rem;
        font-weight: 800;
      }
    }
    .hero-p{
      width: 430px;
      font-size: 30px;
    }
  }
}
@media (min-width: 1000px) {
  .hero-section{
    margin-top: 8.5rem;
    h1{
      margin: 0;
      padding-right:15rem;
      font-size: 60px;
      -webkit-text-stroke-width: 2px;

      .sami{
        font-size: 155px;
      }
    }
    .hero-p{
      margin: 0 auto; 
      width: 490px;
      position: relative;
      right: 8.5rem;
    }
  }
  
}
/* HERO SECTION STYLING ENDS HERE */

/* FEATURED WORK STYLING STARTS HERE */
.featured-works{
  margin-bottom: 7rem;
}

  .fw-heading{
    text-align: center;
    font-family: var(--thunder-font);
    font-size: 69px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5rem;
  }


.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 70%;
  max-width: 1200px;
  box-sizing: border-box;
}

.gallery-row {
  display: flex;
  width: 100%;
}

.gallery-item {
  width: 50%;
  /* box-sizing: border-box; */
  height: 250px;
  object-fit: cover;
}

.gallery-item img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.gallery-item-wide {
  width: 100%;
  box-sizing: border-box;
  height: 250px;
}

.gallery-item-wide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* ,,,,,,,,,,,,,, */

.gallery-item,
.gallery-item-wide {
  position: relative;
  box-sizing: border-box;
}
.gallery-item a{
  height: 100%;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  opacity: 0;
  transition: opacity 0.3s;
}

.title {
  color: white;
  font-size: 24px;
  font-weight: 700;
  left: 5%;
  right: 5%;
  bottom: 5%;
  border-left: 3px solid var(--green);
  transition: all 0.4s ease;
  font-size: 15px;
  padding: 4px 12px;
  margin: 10px 10px;
  text-transform: uppercase;
}

.gallery-item:hover .overlay,
.gallery-item-wide:hover .overlay {
  opacity: 1;
  transform: translateX(0);
}

/* a {
  display: block;
  color: inherit;
  text-decoration: none;
} */


@media (min-width: 600px) {
    .fw-heading{
      font-size: 77px;
    }

}
@media (min-width: 1000px) {
    .fw-heading{
      font-size: 90px;
    }
    .title {
      color: white;
      font-size: 24px;
      left: 5%;
      right: 5%;
      bottom: 5%;
      border-left: 4px solid var(--green);
      transition: all 0.4s ease;
      padding: 10px 12px;
      margin: 24px 24px;
      text-transform: uppercase;
    }
    .gallery-item, .gallery-item-wide{
      height: 400px;
    }
  
  
}
/* FEATURED WORK STYLING ENDS HERE */

/* COLLABORATION STYLES STARTS HERE */
.collab-section{
  margin-left: 15%;
  margin-bottom: 7rem;
}
.collab-heading{
    font-family: var(--thunder-font);
    font-size: 69px;
    text-transform: uppercase;
}
.contact-circle-home{
  width: 130px;
  height: 130px;
  background-color: var(--main-color);
  border-radius: 50%;
  align-content: center;
}

.contact-circle-home a{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #FFF;
  font-family: var(--kanit-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* COLLABORATION STYLES ENDS HERE */


@media (min-width:1800px) {
  .collab-section{
    margin-left: 18%;
  }
}


/* ================================================ */
/* ABOUT PAGE STYLING  */
/* ================================================ */

.wai-section{
  margin-top: 8rem;
  .wai-h2{
    font-family: var(--thunder-font);
    text-transform: uppercase;
    font-size: 75px;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  .wai-flex-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .wai-p{
    width: 250px;
    margin: 0 auto;
    padding-top: 1rem;
    .wai-sami{
      color: var(--green);
    }
  }
  .profile-div{
    .profile-img{
      width: 200px;
      margin-top: 3rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
/* EDUCATION SECTION STARTS HERE */
.education-section{
  .edu-h2{
    font-family: var(--thunder-font);
    text-transform: uppercase;
    font-size: 75px;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 5rem;
  }
}
.nmwd-div, .fwd-div{
  width: 280px;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
.edu-li{
  font-size: 18px;
  font-weight: 500;
}
  .bcit-p{
    font-size: 13px;
    color: var(--green);
    margin: 0;
    font-weight: 500;
  }
  




/* EDUCATION SECTION ENDS HERE */

.ss-section{
  margin-top: 7rem;
  margin: 0 auto;
}
.ss-h2{
  font-family: var(--thunder-font);
    text-transform: uppercase;
    font-size: 75px;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.software-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px; 
  max-width: 200px; 
  justify-content: center;
  margin: 0 auto;
}

.software-icons img {
  width: 60px;
  height: auto;
  object-fit: contain; 
}
.divider {
  border: none;
  width: 60%;
  border-top: 5px solid var(--main-color); 
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.swNames-div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.swNames-div ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.swNames-div li {
  margin: 10px 0; 
  font-size: 20px;
}

.contact-section{
  margin-top: 5rem;
  margin-bottom: 7rem;
}
.acs-h3{
  font-family: var(--thunder-font);
  font-size: 60px;
  width: 60%;
  margin-left: 5rem;
}


.contact-circle{
  width: 130px;
  height: 130px;
  background-color: var(--main-color);
  border-radius: 50%;
  margin-left: 5rem;
  align-content: center;
}

.contact-circle a{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #FFF;
  font-family: var(--kanit-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.emailMe-h3{
  font-family: var(--thunder-font);
  font-size: 80px;
}
.right-sec-collab{
  margin-left: 5rem;
  margin-top: 7rem;
}

/* EMAIL ADDRESS CLICK TO COPY STYLING */
/* =================================== */

.mailto-link {
	position: relative;
	padding: 8px 0;
  color: var(--main-color);
}
.mailto-message {
	top: 1px;
	left: 50%;
	margin-bottom: -5px;
	transform: translate(-50%, -100%);
	position: absolute;
	display: none;
	width: auto;
	white-space: nowrap;
	font-size: 12px;
	background-color: black;
	color: white;
	padding: 2px 6px;
	border-radius: 2px;
	&:after,
	&:before {
		content: '';
	}
	&:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(0, 0, 0, 0);
		border-top-color: #000000;
		border-width: 4px;
		margin-left: -4px;
	}
}
.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
	display: block;
}

/* =================================== */
/* =================================== */




/* MEDIA QUERIES */
@media (min-width: 600px) {
    .wai-h2{
      margin-bottom: 4rem;
    }
    .wai-p{
      width: 450px;
      font-size: 18px;
    }

    /* .contact-section{
      margin-left: 7rem;
    } */
  
}



@media (min-width: 1000px) {
  .wai-section{
    height: 100vh;
    .wai-flex-div{
      flex-direction: row;
      justify-content: center;
    }
    .wai-p{
      width: 480px;
    }
    .profile-div{
      padding-left: 2.5rem;
      .profile-img{
        width: 260px;
      }
    }
  }
  .education-section{
    .edu-h2{
      margin-top: 2rem;
    }
  }
  .nmwd-div,.fwd-div{
    width: 550px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
    .edu-li{
      font-size: 20px;
    }
    .bcit-p{
      font-size: 13px;
      color: var(--green);
      margin: 0;
      padding-left: 1.85rem;
    }
    .ss-flex-div{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 70%;
      margin: 0 auto;
      margin-bottom: 7rem;
    }
    .divider{
      transform: rotate(90deg);
      width: 20%;
      margin: 0;
    }
    .software-icons{
      margin: 0;
    }
    .collab-div{
      display: flex;
      justify-content: space-evenly;
      width: 70%;
      margin: 0 auto;
      margin-bottom: 7rem;
    }
    .acs-h3{
      font-size: 80px;
      width: 50%;
      margin: 0;
      
    }
    .contact-circle{
      margin: 0;

    }
   
    .right-sec-collab{
      margin: 0;
      align-content: flex-end;
      width: 50%;
      
    }
      
  
}


/* ================================================ */
/* PROJECTS/WORKS PAGE STYLING  */
/* ================================================ */


.projects-h2{
    font-family: var(--thunder-font);
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 5rem;
  }
.proj-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gall-1 {
  position: relative;
  width: 259px;
  height: 260px;
  padding: 20px;
  overflow: hidden;
}

.gall-1 .gall-info {
  position: absolute;
  z-index: 3;
  opacity: 0;
  overflow: hidden;
  transform: translateX(-105%);
  transition: all 0.4s ease;
  left: 5%;
  right: 5%;
  bottom: 5%;
  padding: 10px 12px;
  border-left: 4px solid #fff;
  color: #ffffff;
}

.gall-1:hover .gall-info {
  opacity: 1;
  transform: translateX(0);
}

.gall-1 .gall-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}

.gall-1:hover .gall-img {
  transform: scale(1.3) translate(10%, 10%);
}

.gall-1::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  opacity: 0;
}

.gall-1:hover::after {
  content: '';
  background: rgba(0, 167, 100, 0.27);
  opacity: 1;
}



/* ================================================ */
/* BRANDBOOK PROJECT PAGE STYLING  */
/* ================================================ */
.bb-project-name{
  font-size: 32px;
  text-transform: uppercase;
  font-family: var(--kanit-font);
  font-weight: 800;
  width: 80%;
  line-height: 1;
  margin: 0 auto;
  margin-top: 6rem;
  color: #D3202E;
}
.bb-tagline{
  width: 80%;
  font-family: var(--thunder-font);
  font-size: 49px;
  line-height: 1;
  margin: 0 auto;
  text-transform: uppercase;
  padding-top: 15px;
}

@media (min-width:600px) {
  .bb-project-name{
    width: 420px;
   }
   .bb-tagline{
    width: 420px;
   }
}

@media (min-width:1000px) {
  .bb-project-name{
    font-size: 2.3rem;
    width: 600px;
  }
  .bb-tagline{
    width: 600px;
    font-size: 5.6rem;
  }
}



/* ================================================ */
/* CHOCO FRUITS PROJECT PAGE STYLING  */
/* ================================================ */


.cf-project-name{
  font-size: 32px;
  text-transform: uppercase;
  font-family: var(--kanit-font);
  font-weight: 800;
  width: 80%;
  line-height: 1;
  margin: 0 auto;
  margin-top: 6rem;
  color: #fbb040;
}
.cf-tagline{
  width: 80%;
  font-family: var(--thunder-font);
  font-size: 3.9rem;
  line-height: 1;
  margin: 0 auto;
  text-transform: uppercase;
  padding-top: 15px;
}

.BR-cf{
    background-color: #fbb040;
    padding: 7px;
    margin: 5px;
}

.GD-cf{
  background-color: #e3e700;
    padding: 7px;
    margin: 5px;
}

@media (min-width: 600px) {
  .cf-project-name{
   width: 420px;
  }
  .cf-tagline{
   width: 420px;
  }
  .single-proj-tag{
   width: 600px;
   margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .cf-project-name{
    font-size: 2.3rem;
    width: 600px;
  }
  .cf-tagline{
    width: 600px;
    font-size: 5.6rem;
  }
}


/* ================================================ */
/* FROSTBITES PROJECT PAGE STYLING  */
/* ================================================ */


.hero-fb-section{
  height: auto;
  margin-bottom: 15rem;
}

.fb-project-name{
  font-size: 32px;
  text-transform: uppercase;
  font-family: var(--kanit-font);
  font-weight: 800;
  width: 80%;
  line-height: 1;
  margin: 0 auto;
  margin-top: 6rem;
  color: #F04D54;
}
.fb-tagline{
  width: 80%;
  font-family: var(--thunder-font);
  font-size: 3.9rem;
  line-height: 1;
  margin: 0 auto;
  text-transform: uppercase;
  padding-top: 15px;
}

.single-proj-tag{
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  color: #fff;
  width: 80%;
  margin: 0 auto;
}
.BR{
    background-color: #465CAA;
    padding: 7px;
    margin: 5px;
}
.GD{
  background-color: #F04D54;
    padding: 7px;
    margin: 5px;
}
.main-carousel{
  width: 75%;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.flickity-button {
  background: transparent !important;
}

.carousel-cell {
  width: 100%;
}

.before-pic{
  text-align: center;
  font-family: var(--kanit-font);
  position: absolute;
  font-weight: 800;
  top: 0;
  font-size: 20px;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
}
 .white{
  color: #FFF;
 }


.proj-poster-1{
  width: 75%;
  margin: 0 auto;
}
.fb-poster1{
  width: 100%;
}
.cf-poster{
  width: 100%;
}

.proj-info-1{
  width: 90%;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.overview-h3{
  text-align: center;
  font-family: var(--thunder-font);
  font-size: 5rem;
  font-weight: 700;
}
.overview-p{
  width: 70%;
  margin: 0 auto;
  margin-bottom: 3.5rem;
  font-size: 18px;
  padding: 10px 0;
}


.tools-h3{
  text-align: center;
  font-family: var(--thunder-font);
  font-size: 5rem;
  font-weight: 700;
}

.tools-ul{
  width: 65%;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 3.5rem;
  font-size: 18px;
}
.role-h3{
  text-align: center;
  font-family: var(--thunder-font);
  font-size: 5rem;
  font-weight: 700;
}
.roles-ul{
  width: 65%;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 3.5rem;
  font-size: 18px;
}

.compl-h3{
  text-align: center;
  font-family: var(--thunder-font);
  font-size: 5rem;
  font-weight: 700;
}

.completed-ul{
  width: 80%;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 3.5rem;
  font-size: 18px;
}

.process-section{
  width: 90%;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.fb-process-h3{
  text-align: center;
  font-family: var(--thunder-font);
  font-size: 5rem;
  font-weight: 700;
}

.process-p{
  width: 65%;
  margin: 0 auto;
  margin-bottom: 3.5rem;
  font-size: 18px;
}

.proj-btns{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}
.proj-btn{
  background-color: var(--main-color);
  padding: 16px;
}

.proj-btn a{
  text-decoration: none;
  color: #ffffff;
  font-family: var(--thunder-font);
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}

@media (min-width: 600px) {
   .fb-project-name{
    width: 420px;
   }
   .fb-tagline{
    width: 420px;
   }
   .single-proj-tag{
    width: 600px;
    margin: 0 auto;
   }
}

@media (min-width: 1000px) {
  .hero-fb-section{
    margin-top: 10rem;
  }
  .fb-project-name{
    font-size: 2.3rem;
    width: 600px;
  }
  .fb-tagline{
    width: 600px;
    font-size: 5.6rem;
  }
  .proj-poster-1{
    width: 80%;
    margin: 0 auto;
  }
  .fb-poster1{
    width: 100%;
    object-fit: cover;
  }
  .cf-poster{
    width: 100%;
    object-fit: contain; 
  }
  .proj-info-1{
    display: flex;
    width: 80%;
    justify-content: center;
  }
  .proj-overview{
    width: 50%;
  }
  .overview-h3{
    text-align: start;
    font-size: 4rem;
  }
  .overview-p{
    margin: 0;
  }
  .tools-h3, .role-h3, .compl-h3{
    text-align: start;
    font-size: 4rem;
  }
  .tools-ul, .roles-ul, .completed-ul{
    text-align: start;
    margin: 0 ;
    padding: 0;
    font-size: 1rem;
  }
  .proj-tools, .proj-roles, .proj-compl{
    margin-bottom: 20px;
  }

  .process-section{
    width: 80%;
  }
  .fb-process-h3{
    text-align: start;
    width: 100%;
    margin: 0 auto;
    margin-left: 10rem;
    
  }
  .process-p{
    text-align: start;
    width: 500px;
    margin: 0;
    margin-left: 10rem;
  }

  .fb-poster1{
    height: 700px;
  }
  .cf-poster{
    height: 700px;
  }
  .before-pic{
    top: 10px;
    font-size: 26px;
  }

  .proj-btn{
    padding: 1rem;
  }
  .proj-btn a{
    font-size: 40px;
  }
}

