/* THIS IS THE FONT FOR HEADINGS AND NAV MENU(needs all file types for different browsers) */

@font-face {
  font-family: 'thunder';
  src: url('/fonts/Thunder-BlackLC.ttf'), url('/fonts/Thunder-BlackLC.woff'),url('/fonts/Thunder-BlackLC.woff2'), url('/fonts/Thunder-BoldLC.ttf'), url('/fonts/Thunder-BoldLC.woff'), url('/fonts/Thunder-BoldLC.woff2'), url('/fonts/Thunder-ExtraBoldLC.ttf'), url('/fonts/Thunder-ExtraBoldLC.woff'), url('/fonts/Thunder-ExtraBoldLC.woff2');
  font-weight: 800, 700, 600, 500;
}

body{
    background-color: white ;
    font-family: var(--kanit-font);
    color: var(--main-color);
}

/* variables */
:root {
  --thunder-font: 'thunder', sans-serif;
  --kanit-font: 'Kanit', sans-serif;
  --main-color: #2C302E;
  --green: #00A764;
}



/* HEADER STYLING STARTS HERE */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  border-radius: 10px;
  background-color: var(--main-color);
  margin: 6px 0;
  transition: 0.4s;
}

.burger {
  display: inline-block;
  cursor: pointer;
  font-family: var(--thunder-font);
  z-index: 9999;
  position: relative;;
}

/* Transform the burger menu into a "X" when toggled */
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.site-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1rem 2rem 1rem;
}

#logo-svg{
  height: 45px;
}
/* Nav list styling for overlay effect */
.nav-list {
  display: none;
  list-style-type: none;
  font-family: var(--thunder-font);
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; 
  z-index: 999; 
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
}

/* Nav list item styling */
.nav-list li {
  margin: 20px 50px;
}


.nav-list a {
  color: var(--main-color); 
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase; 
  text-decoration: none;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: var(--main-color); 
}

.show-nav {
  display: flex;
}
@media (min-width:600px) {
  .site-header{
    margin: 1rem 1.5rem 1rem 1.5rem;
  }
  #logo-svg{
    height: 60px;
  }
}
/* HEADER STYLING ENDS HERE */

/* FOOTER STYLING STARS HERE */

.footer-text{
  text-align: center;
  margin: 0;
}
/* FOOTER STYLING ENDS HERE */


/* ================================================ */
/* HOME PAGE STYLING  */
/* ================================================ */



/* HERO SECTION STYLING STARTS HERE */
.hero-section{
  height: 100vh;
  margin-top: 7rem;
  h1{
    margin-top: 4rem;
    font-family: var(--kanit-font);
    font-size: 30px;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: #2C302E;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 4.6rem;
    .sami{
      font-family: 'thunder';
      font-weight: 800;
      font-size: 110px;
      padding-left: 7rem;
      -webkit-text-fill-color: var(--main-color);
      -webkit-text-stroke-width: 0;

    }
  }

  .hero-p{
    width: 300px;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 19px;
    font-weight: 400;
    .designer{
      color: var(--green);
    }
}
}


@media (min-width: 600px ) {
  .hero-section{
    margin-top: 14rem;
    h1{
      font-size: 43px;
      flex-direction: row;
      justify-content: center;
      padding: 0 ;
      padding-right: 1.3rem;
      .sami{
        padding-left: 0.8rem;
        padding-bottom: 1.5rem;
      }
    }
    .hero-p{
      width: 430px;
      font-size: 30px;
    }
  }
}
@media (min-width: 1000px) {
  .hero-section{
    margin-top: 8.5rem;
    h1{
      margin: 0;
      padding-right:15rem;
      font-size: 60px;
      -webkit-text-stroke-width: 2px;

      .sami{
        font-size: 155px;
      }
    }
    .hero-p{
      margin: 0 auto; 
      width: 490px;
      position: relative;
      right: 8.5rem;
    }
  }
  
}
/* HERO SECTION STYLING ENDS HERE */

/* FEATURED WORK STYLING STARTS HERE */
.featured-works{
  .fw-heading{
    text-align: center;
    font-family: var(--thunder-font);
    font-size: 69px;
    text-transform: uppercase;
    font-weight: 800;
  }
}

.works-gallery{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  justify-content: center;
  img{
    height: 200px;
  }
}

@media (min-width: 600px) {
  .featured-works{
    .fw-heading{
      font-size: 77px;
    }
  }
}
@media (min-width: 1000px) {
  .featured-works{
    .fw-heading{
      font-size: 90px;
    }
  }
}
/* FEATURED WORK STYLING ENDS HERE */

/* COLLABORATION STYLES STARTS HERE */
.collab-section{
  .collab-heading{
    font-family: var(--thunder-font);
    font-size: 69px;
    text-transform: uppercase;

  }
}

/* COLLABORATION STYLES ENDS HERE */





/* ================================================ */
/* ABOUT PAGE STYLING  */
/* ================================================ */

.wai-section{
  margin-top: 8rem;
  .wai-h2{
    font-family: var(--thunder-font);
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  .wai-flex-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .wai-p{
    width: 250px;
    margin: 0 auto;
    padding-top: 1rem;
    .wai-sami{
      color: var(--green);
    }
  }
  .profile-div{
    .profile-img{
      width: 200px;
      margin-top: 3rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
/* EDUCATION SECTION STARTS HERE */
.education-section{
  .edu-h2{
    font-family: var(--thunder-font);
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 5rem;
  }
}
.nmwd-div, .fwd-div{
  width: 280px;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
.edu-li{
  font-size: 18px;
  font-weight: 500;
}
  .bcit-p{
    font-size: 13px;
    color: var(--green);
    margin: 0;
    font-weight: 500;
  }
  .edu-date{

  }




/* EDUCATION SECTION ENDS HERE */



/* MEDIA QUERIES */
@media (min-width: 600px) {
  .wai-section{
    .wai-h2{
      margin-bottom: 4rem;
    }
    .wai-p{
      width: 450px;
      font-size: 18px;
    }
  }
}

@media (min-width: 1000px) {
  .wai-section{
    height: 100vh;
    .wai-flex-div{
      flex-direction: row;
      justify-content: center;
    }
    .wai-p{
      width: 480px;
    }
    .profile-div{
      padding-left: 2.5rem;
      .profile-img{
        width: 260px;
      }
    }
  }
  .education-section{
    .edu-h2{
      margin-top: 2rem;
    }
  }
  .nmwd-div,.fwd-div{
    width: 550px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
    .edu-li{
      font-size: 20px;
    }
    .bcit-p{
      font-size: 13px;
      color: var(--green);
      margin: 0;
      padding-left: 1.85rem;
    }
    .edu-date{
  
    }
  
}








/* ================================================ */
/* PROJECTS/WORKS PAGE STYLING  */
/* ================================================ */


.projects-h2{
    font-family: var(--thunder-font);
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 5rem;
  }
.proj-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gall-1 {
  position: relative;
  width: 259px;
  height: 260px;
  padding: 20px;
  overflow: hidden;
}

.gall-1 .gall-info {
  position: absolute;
  z-index: 3;
  opacity: 0;
  overflow: hidden;
  transform: translateX(-105%);
  transition: all 0.4s ease;
  left: 5%;
  right: 5%;
  bottom: 5%;
  padding: 10px 12px;
  border-left: 4px solid #fff;
  color: #ffffff;
}

.gall-1:hover .gall-info {
  opacity: 1;
  transform: translateX(0);
}

.gall-1 .gall-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}

.gall-1:hover .gall-img {
  transform: scale(1.3) translate(10%, 10%);
}

.gall-1::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  opacity: 0;
}

.gall-1:hover::after {
  content: '';
  background: rgba(0, 167, 100, 0.27);
  opacity: 1;
}



/* ================================================ */
/* FROSTBITES PROJECT PAGE STYLING  */
/* ================================================ */


.hero-fb-section{
  height: auto;
  margin-bottom: 15rem;
}

.fb-project-name{
  font-size: 32px;
  text-transform: uppercase;
  font-family: var(--kanit-font);
  font-weight: 800;
  width: 80%;
  line-height: 1;
  margin: 0 auto;
  margin-top: 6rem;
  color: #F04D54;
}
.fb-tagline{
  width: 80%;
  font-family: var(--thunder-font);
  font-size: 3.9rem;
  line-height: 1;
  margin: 0 auto;
  text-transform: uppercase;
  padding-top: 15px;
}

.single-proj-tag{
  display: flex;
  justify-content: flex-start;
  padding-left: 2.2rem;
  text-transform: uppercase;
  color: #fff;
}
.BR{
    background-color: #465CAA;
    padding: 7px;
    margin: 5px;
}
.GD{
  background-color: #F04D54;
    padding: 7px;
    margin: 5px;
}

.proj-poster-1{
  width: 90%;
  margin: 0 auto;
}
.fb-poster1{
  width: 100%;
}

.proj-info-1{
  width: 90%;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.overview-h3{
  text-align: center;
  font-family: var(--thunder-font);
  font-size: 5rem;
  font-weight: 700;
}
.overview-p{
  width: 65%;
  margin: 0 auto;
  margin-bottom: 3.5rem;
  font-size: 18px;
}

.tools-h3{
  text-align: center;
  font-family: var(--thunder-font);
  font-size: 5rem;
  font-weight: 700;
}

.tools-ul{
  width: 65%;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 3.5rem;
  font-size: 18px;
}
.role-h3{
  text-align: center;
  font-family: var(--thunder-font);
  font-size: 5rem;
  font-weight: 700;
}
.roles-ul{
  width: 65%;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 3.5rem;
  font-size: 18px;
}

.compl-h3{
  text-align: center;
  font-family: var(--thunder-font);
  font-size: 5rem;
  font-weight: 700;
}

.completed-ul{
  width: 65%;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 3.5rem;
  font-size: 18px;
}

.process-section{
  width: 90%;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.fb-process-h3{
  text-align: center;
  font-family: var(--thunder-font);
  font-size: 5rem;
  font-weight: 700;
}

.process-p{
  width: 65%;
  margin: 0 auto;
  margin-bottom: 3.5rem;
  font-size: 18px;
}

@media (min-width: 600px) {
   .fb-project-name{
    width: 420px;
   }
   .fb-tagline{
    width: 420px;
   }
   .single-proj-tag{
    padding-left: 10%;
   }
}

@media (min-width: 1000px) {
  .hero-fb-section{
    margin-top: 10rem;
  }
  .fb-project-name{
    font-size: 2.3rem;
    width: 600px;
  }
  .fb-tagline{
    width: 600px;
    font-size: 5.6rem;
  }
  .proj-poster-1{
    width: 80%;
    margin: 0 auto;
  }
  .fb-poster1{
    width: 100%;
    height: 700px;
    object-fit: cover;
  }
  .proj-info-1{
    display: flex;
    width: 80%;
    justify-content: center;
  }
  .proj-overview{
    width: 50%;
  }
  .overview-h3{
    text-align: start;
    font-size: 4rem;
  }
  .overview-p{
    margin: 0;
  }
  .tools-h3, .role-h3, .compl-h3{
    text-align: start;
    font-size: 4rem;
  }
  .tools-ul, .roles-ul, .completed-ul{
    text-align: start;
    margin: 0 ;
    padding: 0;
    font-size: 1rem;
  }
  .proj-tools, .proj-roles, .proj-compl{
    margin-bottom: 20px;
  }

  .process-section{
    width: 80%;
  }
  .fb-process-h3{
    text-align: start;
    width: 100%;
    margin: 0 auto;
    margin-left: 10rem;
    
  }
  .process-p{
    text-align: start;
    width: 500px;
    margin: 0;
    margin-left: 10rem;
  }

  .fb-poster1{
    height: 700px;
  }
}