/* THIS IS THE FONT FOR HEADINGS AND NAV MENU(needs all file types for different browsers) */

@font-face {
  font-family: 'thunder';
  src: url('/samiPortfolio-v3/fonts/Thunder-BlackLC.ttf'), url('/samiPortfolio-v3/fonts/Thunder-BlackLC.woff'),url('/samiPortfolio-v3/fonts/Thunder-BlackLC.woff2'), url('/samiPortfolio-v3/fonts/Thunder-BoldLC.ttf'), url('/samiPortfolio-v3/fonts/Thunder-BoldLC.woff'), url('/samiPortfolio-v3/fonts/Thunder-BoldLC.woff2'), url('/samiPortfolio-v3/fonts/Thunder-ExtraBoldLC.ttf'), url('/samiPortfolio-v3/fonts/Thunder-ExtraBoldLC.woff'), url('/samiPortfolio-v3/fonts/Thunder-ExtraBoldLC.woff2');
}

body{
    background-color: white ;
    font-family: var(--kanit-font);
    color: var(--main-color);
}

/* variables */
:root {
  --thunder-font: 'thunder', sans-serif;
  --kanit-font: 'Kanit', sans-serif;
  --main-color: #2C302E;
  --green: #00A764;
}



/* HEADER STYLING STARTS HERE */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  border-radius: 10px;
  background-color: var(--main-color);
  margin: 6px 0;
  transition: 0.4s;
}

.burger {
  display: inline-block;
  cursor: pointer;
  font-family: var(--thunder-font);
  z-index: 9999;
  position: relative;;
}

/* Transform the burger menu into a "X" when toggled */
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.site-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1rem 2rem 1rem;
}

#logo-svg{
  height: 45px;
}
/* Nav list styling for overlay effect */
.nav-list {
  display: none;
  list-style-type: none;
  font-family: var(--thunder-font);
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; 
  z-index: 999; 
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
}

/* Nav list item styling */
.nav-list li {
  margin: 20px 50px;
}


.nav-list a {
  color: var(--main-color); 
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase; 
  text-decoration: none;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: var(--main-color); 
}

.show-nav {
  display: flex;
}
@media (min-width:600px) {
  .site-header{
    margin: 1rem 1.5rem 1rem 1.5rem;
  }
  #logo-svg{
    height: 60px;
  }
}
/* HEADER STYLING ENDS HERE */


/* HERO SECTION STYLING STARTS HERE */
.hero-section{
  height: 100vh;
  margin-top: 7rem;
  h1{
    margin-top: 4rem;
    font-family: var(--kanit-font);
    font-size: 30px;
    font-weight: 600;
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: #2C302E;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 4.6rem;
    .sami{
      font-family: 'thunder';
      font-weight: 800;
      font-size: 110px;
      padding-left: 7rem;
    }
  }

  .hero-p{
    width: 300px;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 19px;
    font-weight: 400;
    .designer{
      color: var(--green);
    }
}
}


@media (min-width: 600px ) {
  .hero-section{
    margin-top: 14rem;
    h1{
      font-size: 43px;
      flex-direction: row;
      justify-content: center;
      padding: 0 ;
      padding-right: 1.3rem;
      .sami{
        padding-left: 0.8rem;
        padding-bottom: 1.5rem;
      }
    }
    .hero-p{
      width: 430px;
      font-size: 30px;
    }
  }
}
@media (min-width: 1000px) {
  .hero-section{
    margin-top: 8.5rem;
    h1{
      margin: 0;
      padding-right:15rem;
      font-size: 60px;
      .sami{
        font-size: 155px;
      }
    }
    .hero-p{
      margin: 0 auto; 
      width: 490px;
      position: relative;
      right: 8.5rem;
    }
  }
  
}
/* HERO SECTION STYLING ENDS HERE */